<div id="card-content">
  <app-title-card></app-title-card>
  <div id="cards">
    <app-mini-card
      Id="1"
      photoCover="../../../assets/Vitor-Blog.png"
      cardTitle="Vitor Web Blog"
      description="Blog desenvolvido em Angular com base em um layout do dribbble"
    ></app-mini-card>
    <app-mini-card
      Id="2"
      photoCover="../../../assets/Curriculo.png"
      cardTitle="Currículo Online"
      description="Currículo on-line com o template base do w3c com melhorias, espero que gostem! :)"
    ></app-mini-card>
    <app-mini-card
      Id="3"
      photoCover="../../../assets/pokedex-pt1.png"
      cardTitle="Pokedex JavasCript Developer"
      description="Incremento na pokedex construida na DIO, acrescentei a funcionalidade de visualizar informações sobre o pokemon selecionado"
    ></app-mini-card>
    <app-mini-card
      Id="4"
      photoCover="../../../assets/Bootstrap.png"
      cardTitle="Bootstrap Page"
      description="Projeto desenvolvido com Bootstrap para aprendizado, acabei empolgando e criando um página com bootstrap interessante, espero que goste do conteúdo!"
    > </app-mini-card>
  </div>
</div>

